! Fonts
URxvt.font: xft:Inconsolata:style=Regular:size=12.5:antialias=true
URxvt.boldFont:
XTerm.font:xft:hlv:pixelsize=11:antialias=True,xft:JackeyFont:pixelsize=11:antialias=True
XTerm.boldFont:

URxvt.internalBorder: 128

! General
*.scrollBar: false
*.saveLines: 8192
*.internalBorder: 10
*.cursorUnderline: true
*.cursorBlink: true
*.dynamicColors:off
*.letterSpace: 0
*.geometry: 85x20

Xft.autohint: 0
Xft.dpi: 96
Xft.hintstyle: hintnone
Xft.lcdfilter: lcddefault
Xft.rgba: rgb

! Separate settings for emacs
emacs.internalBorder: 0

! Clickable Links
*perl-ext-common:	 default,matcher,clipboard
*keysym.Shift-Control-V: perl:clipboard:paste
*urlLauncher:		 firefox
*matcher.button:	 1
*url-select.underline:	 true

! Extra

*.color254:     #191921
*.color255:     #eeeeee

! Colors
*.borderColor:  #191921
*.background:	#191921
*.foreground:   #eeeeee
*.cursorColor:  #eeeeee

! Black
*color0:       #4b4b4b
*color8:       #5f5f5f

! Red
*color1:       #a89297
*color9:       #dabdb3

! Green
*color2:       #111111
*color10:      #e2efb4

! Yellow
*color3:       #b9bda9
*color11:      #e9efd5

! Blue
*color4:       #869baa
*color12:      #b4cbdc

! Magenta
*color5:       #b8bbc3
*color13:      #e8eaf5

! Cyan
*color6:       #93a0aa
*color14:      #becfdc

! White
*color7:       #cbcbc1
*color15:      #eeede1



